@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #121400;
    font-family: work-sans, sans-serif;
  }
}

@layer components {
  .btn {
    @apply w-[90px] h-[32px] bg-purpleBrand text-white rounded-full outline outline-2 outline-purpleBrand -outline-offset-2 hover:bg-white hover:text-purpleBrand hover:font-medium transition-colors duration-200;
  }
  .catBtn {
    @apply w-[90px] h-[32px] bg-white text-purpleBrand font-medium rounded-full outline outline-2 outline-purpleBrand -outline-offset-2 hover:bg-purpleBrand hover:text-white hover:font-normal transition-colors duration-200;
  }

  .activeBtn {
    @apply bg-purpleBrand text-white font-normal;
  }

  /* .message {
    @apply p-4 mb-6 border-2 border-peach text-dusk bg-white rounded-md text-center col-span-2;
  }

  .error {
    @apply text-night border-red-600 bg-red-300;
  }

  .success {
    @apply text-night border-green-700 bg-green-300;
  }

  .warning {
    @apply text-night border-orange-500 bg-orange-300;
  } */
}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
