@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #121400;
    font-family: work-sans, sans-serif;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  *:focus {
    outline: 2px solid #ff7708;
  }
}

@layer components {
  .btn {
    @apply w-[90px] h-[32px] bg-purpleBrand text-white rounded-full outline outline-2 outline-purpleBrand -outline-offset-2 hover:bg-white hover:text-purpleBrand hover:font-medium transition-colors duration-200;
  }

  .btn:focus {
    @apply bg-white text-purpleBrand font-medium;
  }

  .message {
    @apply p-4 m-3 border-2 bg-white rounded-md text-center col-span-2;
  }

  .error {
    @apply text-blackBrand border-red-600 bg-red-300;
  }

  .success {
    @apply text-blackBrand border-green-700 bg-green-300;
  }

  .warning {
    @apply text-blackBrand border-orange-500 bg-orange-300;
  }
}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .thin-scrollbar::-webkit-scrollbar-thumb {
    background-color: #ffe787;
    border-radius: 10px;
  }

  .thin-scrollbar::-webkit-scrollbar {
    background-color: #dab41f;
    width: 2px;
  }
}
